 <div class="resume-info">
	<h4>Education</h4>
	<div class="sep2"></div>
	<div class="row">	
			<div class="col-md-3 ">
			<h5>Ph.D.</h5>
		</div>
		<div class="col-md-6">
			School of ECE, <b>Purdue University</b>, West Lafayette, IN 
		</div>
		<div class="col-md-3 ">
			<span class="year"> 2019</span>
		</div>
	</div>	
	<div class="row">	
			<div class="col-md-3 ">
			<h5>M.Sc.</h5>
		</div>
		<div class="col-md-6">
			Department of EEE, Bangladesh University of Engineering and Technology (<b>BUET</b>), Dhaka, Bangladesh
		</div>
		<div class="col-md-3 ">
			<span class="year"> 2011</span>
		</div>
	</div>	
	<div class="row">
		<div class="col-md-3 ">
			<h5>B.Sc.</h5>
		</div>
		<div class="col-md-6">
			Department of EEE, Bangladesh University of Engineering and Technology (<b>BUET</b>), Dhaka, Bangladesh
		</div>
		<div class="col-md-3 ">
			<span class="year"> 2009</span>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-3 ">
			<h5>H.S.C.</h5>
		</div>
		<div class="col-md-6">
			Notre Dame College, Dhaka, Bangladesh 
		</div>
		<div class="col-md-3 ">
			<span class="year"> 2004</span>
		</div>	
	</div>
	<!--
	<div class="row">
		<div class="col-md-3 ">
			<h5>S.S.C.</h5>
		</div> 
		<div class="col-md-6">
			Udayan Bidyalay, Dhaka, Bangladesh
		</div>
		<div class="col-md-3 ">
			<span class="year"> 2002</span>
		</div>	
	</div>	
	-->	
</div>

 <div class="resume-info">
	<h4>Work Experience</h4>
	<div class="sep2"></div>
	<div class="row">	
			<div class="col-md-3 ">
			Assistant Professor
		</div>
		<div class="col-md-6">
			Department of Electical and Electronic Engineering (EEE), Bangladesh University of Engineering and Technology (<b>BUET</b>)
		</div>
		<div class="col-md-3 ">
			<span class="year"> Jun 2013 - date</span>
		</div>
	</div>
	<div class="row">	
			<div class="col-md-3 ">
			Lecturer
		</div>
		<div class="col-md-6 ">
			Department of Electical and Electronic Engineering (EEE), Bangladesh University of Engineering and Technology (<b>BUET</b>)
		</div>
		<div class="col-md-3 ">
			<span class="year"> Jan 2010 - Jun 2013</span>
		</div>
	</div>
	<div class="row">	
			<div class="col-md-3 ">
			Lecturer
		</div>
		<div class="col-md-6 ">
			Institute of Information and Communication Technology (IICT), Bangladesh University of Engineering and Technology (<b>BUET</b>)
		</div>
		<div class="col-md-3 ">
			<span class="year"> Oct 2013 - Jan 2010</span>
		</div>
	</div>

	</div>	