{{ include('header.twig') }}
			<div class="col-md-9 r-content">
				<!--<div class="flexslider">
					<div class="slides"> -->
						<!-- SECTION 1 - HOMEPAGE -->
						<!--<section class="no-display">-->
							<div class="profile" id="1">
							{{include('education_work.twig' )}}
							
							  {{ content }}
							</div> 
						<!--</section>-->
						<!-- SECTION 1 - HOMEPAGE -->
            </div>
				</div>
{{ include('footer.twig') }}